.gamingitem {
  height: 300px;
  width: 200px;
}
.viedoTitle {
  font-size: medium;
}

.count {
  font-size: medium;
}

.total {
  display: grid;
  grid-template-rows: minmax(100px, 1fr);
  gap: 10px;
  width: 20%;
}
